:root {
    --primary-color: #FF5400;
}

/* Shared area design  */
img {
    width: 100%;
}

/* main area design  */
body {
    margin: 20px 50px;
}

.navContainer {
    display: flex;
    justify-content: space-between;
}

.name img {
    width: 3em;
    height: 3.5em;
}

.name {
    display: flex;
    gap: 1em;
}

.name-Title {
    color: #131318;
    font-size: 2.25em;
    font-weight: 800;
}

.name-Title>span {
    color: var(--primary-color);
}

.nav-items {
    display: flex;
    gap: 44px;
}

/* banner design  */
.banner {
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('../Images/Group\ 13\ \(1\)\ \(1\).png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 16px;
    text-align: center;
    padding: 10em;
    margin: 3em 0em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner-title {
    color: #FFF;
    font-family: Mulish;
    font-size: 4rem;
    font-weight: 800;
}

.banner-desc {
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    margin-top: -20px;
    max-width: 660px;
}

.banner-container {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    /* display: flex; */
    padding: 0em 1em;
    align-items: flex-start;
    gap: 24px;
}

.banner-container input,
select {
    width: 200px;
    height: 52px;
    border: none;
    border-radius: 8px;
    background: #FFF;
    margin: 1em 1.5em;
}


.btn-primary {
    border-radius: 8px;
    background: #FF5400;
    width: 200px;
    height: 52px;
    border: none;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 700;
}

/* popular section  */
.popular-section {
    display: flex;
    justify-content: space-between;
    gap: 80px;
}

.popular-text {
    flex: 1;
    /* width: 50%; */
}

.popular-title {
    color: #131318;
    font-family: Mulish;
    font-size: 40px;
    font-weight: 800;
}

.popular-desc {
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
}

.visited-list {
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
}

.visited-list li {
    margin-bottom: 25px;
}

/* .destination-section */

.row {
    display: flex;
    gap: 24px;
    margin-bottom: 24px;
}


.boxes {
    height: 300px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.image-title{
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 28px;
    font-weight: 800;
    padding-top: 15%;
}

.box-1 {
    background-image: url('../Images/Rectangle\ 5.png');
}

.box-2 {
    background-image: url('../Images/Rectangle\ 8.png');
}

.box-3 {
    width: 80%;
    background-image: url('../Images/Rectangle\ 6.png');
}

.box-4 {
    background-image: url('../Images/Rectangle\ 7.png');
}

.box-5 {
    width: 45%;
    background-image: url('../Images/Rectangle\ 9.png');
}

.box-6 {
    width: 70%;
    background-image: url('../Images/Rectangle\ 10.png');
}

.box-7 {
    background-image: url('../Images/Rectangle\ 11.png');
}


/* .centered-text {
    text-align: center;

}

.item {
    position: relative;
}

.img-title {
    position: absolute;
    z-index: 1;
    width: auto;
    color: red;
    text-align: center;
    font-family: Mulish;
    font-size: 28px;
    font-weight: 800;
}

.row {
    display: flex;
    height: 300px;
    margin-bottom: 24px;
    gap: 24px;
}

.Bangladesh {
    width: 40%;
}

.Srilanka {
    width: 30%;
}

.Kashmir {
    width: 20%;
} */

/* responsive part  */

@media screen and (max-width: 600px) {

    .nav-items {
        display: none;
    }

    .banner,
    .popular-section {
        padding: 30px;
        flex-direction: column;
    }

    .banner-container {
        flex-direction: block;
        padding: 15px 0px;
    }

    .banner-title {
        font-size: 22px;
        width: 220px;
        margin-bottom: 28px;
    }

    .banner-desc {
        font-size: 14px;
    }

    .row {
        flex-direction: column;
        margin-top: 24px;
        /* padding-top: 90px; */
    }

    .rowcheck {
        margin-top: 210px;
    }

    .row img {
        max-height: 176px;
        /* margin-bottom: 50px; */
    }

    .box-3,.box-4, .box-5, .box-6 {
        width: 100%;
    }

    .image-title{
        padding-top: 25%;
    }
}