:root {
    --primary-color: #FF5400;
}

/* Shared area design  */
img {
    width: 100%;
}

/* main area design  */
header,
.body {
    margin: 20px 50px;
}

.navContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name img {
    width: 3em;
    height: 3.5em;
    padding: 20px
}

.name {
    display: flex;
    gap: 1em;
}

.name-Title {
    color: #131318;
    font-size: 2.25em;
    font-weight: 800;
}

.name-Title>span {
    color: var(--primary-color);
}

.nav-items {
    display: flex;
    gap: 44px;
    list-style-type: none;
}

.nav-items>li>a {
    text-decoration: none;
    color: var(#424247);
}

li span {
    color: var(--primary-color);
}

.hamburger {
    display: none;
}

/* banner design  */
.banner {
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('../Images/Group\ 13\ \(1\)\ \(1\).png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 16px;
    text-align: center;
    padding: 10em;
    margin: 3em 0em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner-title {
    color: #FFF;
    font-family: Mulish;
    font-size: 4rem;
    font-weight: 800;
}

.banner-desc {
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    margin-top: -20px;
    max-width: 660px;
}

.banner-container {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    /* display: flex; */
    padding: 0em 1em;
    align-items: flex-start;
    gap: 24px;
}

.banner-container input,
select {
    width: 200px;
    height: 52px;
    border: none;
    border-radius: 8px;
    background: #FFF;
    margin: 1em 1.5em;
}


.btn-primary {
    border-radius: 8px;
    background: var(--primary-color);
    width: 200px;
    height: 52px;
    border: none;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 700;
}

.icon {
    padding-right: 10px;
    text-align: start;
}

/* popular section  */
.popular-section {
    display: flex;
    justify-content: space-between;
    gap: 80px;
}

.popular-text {
    flex: 1;
    /* width: 50%; */
}

.popular-title {
    color: #131318;
    font-family: Mulish;
    font-size: 40px;
    font-weight: 800;
}

.popular-desc {
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
}

.visited-list {
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
}

.visited-list li {
    margin-bottom: 25px;
}

/* .destination-section */

.destination {
    text-align: center;
    margin-top: 55px;
}

.destination-title {
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-weight: 800;
}

.destination-desc {
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin: 10px auto;
    max-width: 660px;
    /* 162.5% */
}

.row {
    display: flex;
    gap: 24px;
    margin-bottom: 24px;
}


.boxes {
    height: 300px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.image-title {
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 28px;
    font-weight: 800;
    padding-top: 125px;
}

.box-1 {
    background-image: url('../Images/Rectangle\ 5.png');
}

.box-2 {
    background-image: url('../Images/Rectangle\ 8.png');
}

.box-3 {
    width: 80%;
    background-image: url('../Images/Rectangle\ 6.png');
}

.box-4 {
    background-image: url('../Images/Rectangle\ 7.png');
}

.box-5 {
    width: 45%;
    background-image: url('../Images/Rectangle\ 9.png');
}

.box-6 {
    width: 70%;
    background-image: url('../Images/Rectangle\ 10.png');
}

.box-7 {
    background-image: url('../Images/Rectangle\ 11.png');
}


/* .centered-text {
    text-align: center;

}

.item {
    position: relative;
}

.img-title {
    position: absolute;
    z-index: 1;
    width: auto;
    color: red;
    text-align: center;
    font-family: Mulish;
    font-size: 28px;
    font-weight: 800;
}

.row {
    display: flex;
    height: 300px;
    margin-bottom: 24px;
    gap: 24px;
}

.Bangladesh {
    width: 40%;
}

.Srilanka {
    width: 30%;
}

.Kashmir {
    width: 20%;
} */

/* choose us section  */
.choose-us {
    text-align: center;
    margin-top: 135px;
}

.choose-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1020px;
    margin: auto;
}

card {
    text-align: start;
    margin: 10px;
    padding: 20px 15px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    max-width: 573px;
    max-height: 284px;
}

.odd-card {
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

card img {
    height: 64px;
    width: 64px;
}

/* Get lost section  */
.get-lost {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.left-align{
    text-align: left;
}

.video-container{
    position: relative;
    overflow: hidden;
    width: 100%;
    /* padding-top: 56.25%; */
}

.Video {
    border-radius: 10px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

/* Newsletter part design  */

.newsletter {
    margin-top: 50px;
    display: flex;
    gap: 24px;
}

.newsletter-text {
    border-radius: 16px;
    border: 1px solid var(--primary-color);
    flex: 1;
    padding: 40px;
    height: 330px;
}

.newsletter-image {
    background-image: url('../Images/Rectangle\ 8\ \(1\).png');
    max-width: 650px;
    background-size: 100%;
    background-repeat: no-repeat;
}

.newsletter-form {
    border-top: solid 1px rgba(19, 19, 24, 0.10);
    padding-top: 24px;
}

.newsletter-form input {
    max-width: 395px;
    padding: 16px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    border: 0;
    margin-bottom: 24px;
}

.rectangle {
    width: 324px;
    height: 120px;
    transform: rotate(-19.628deg);
    border-radius: 16px;
    background: var(--primary-color);
    margin: 240px 320px;
}

.white-desc {
    color: #FFF;
    text-align: center;
    text-align: center;
    font-family: Mulish;
    font-size: 24px;
    font-weight: 400;
    padding-top: 15px;
    margin: 0px;
}

.white-title {
    text-align: center;
    color: #FFF;
    font-family: Mulish;
    font-size: 32px;
    font-weight: 800;
    padding: 0px;
    margin: 0px;
}

footer {
    background: rgba(19, 19, 24, 0.05);
    padding: 150px 0px;
}

.footer-name {
    text-align: center;
    display: flex;
    justify-content: center;
}

.footer-name img {
    width: 3em;
    height: 3.5em;
    padding: 20px;
}

.icons {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.icons img {
    height: 35px;
    width: 35px;
}

.center {
    text-align: center;
}

hr {
    color: rebeccapurple;
    width: 70%;
    height: 1px;
    border: solid 1px rgba(19, 19, 24, 0.10);
    margin: 50px auto;
}


/* responsive part  */

@media screen and (max-width: 600px) {

    .nav-items {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .banner,
    .popular-section,.get-lost {
        /* padding: 30px; */
        flex-direction: column;
    }

    .banner-container {
        flex-direction: block;
        padding: 15px 0px;
    }

    .banner-title {
        font-size: 22px;
        width: 220px;
        margin-bottom: 28px;
    }

    .banner-desc {
        font-size: 14px;
    }

    .row,
    .choose-container,
    .newsletter,
    .footer-name {
        flex-direction: column;
        margin-top: 24px;
        /* padding-top: 90px; */
    }

    /* .rowcheck {
        margin-top: 210px;
    } */

    .row img {
        max-height: 176px;
        /* margin-bottom: 50px; */
    }

    .box-3,
    .box-4,
    .box-5,
    .box-6 {
        width: 100%;
    }

    .rectangle {
        margin-top: 45%;
        margin-left: 60%;
        width: 40%;
        height: 80%;
        padding: 0.5%;
    }

    .Video{
        position: inherit;
        height: 250px;
    }

    .white-desc {
        font-size: 50%;
    }

    .white-title {
        font-size: 85%;
        padding-bottom: 1%;
    }

    footer {
        text-align: center;
    }

    .footer-name {
        align-items: center;
        padding: 10px
    }

    .footer-name img {
        padding: 0px;
    }
}